.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: #FC6100;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600; 
}

.navbar-item {
    /* font-variant: small-caps; */
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-left: 1000px !important;
    text-align: left;
    position: relative;
    display: block;
    height: 650px;
    overflow-y: scroll;
}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}

.header {
    background-color: #dddddd;
    /* outline: thin solid; */
}

.para {
    padding-left: 100px;
}

.foot {
    padding-right: 100px;
    text-align: right;
}

.table-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
  
  th {
    background: #dddddd;
    /* outline: thin solid; */
    position: sticky;
    top: 0;
  }
