{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Training log</p>




<div class="table-container">
    <table class="table table-hover .table-responsive .table-sm w-auto small">

        <tr class = "header">
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>

        {% for row in range(activity_data|length) %}
        
            {% if row == 0 %}
                {% set week_flag = activity_data['grp_idx'][0] %}
                <tr class="table-info" style="outline: thin solid"> 
                    <td>{{ "Weekly total for week commencing: " + weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'wc'].iloc[0]}}</td>
                    <td></td>
                    <td></td> 
                    <td>{{ '{:.2f}'.format(weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'distance'].iloc[0]) + ' mi'}}</td> 
                    <td>{{ weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'time'].iloc[0] }}</td> 
                    <td></td> 
                    <td></td> 
                    <td></td> 
                    <td></td>
                    <td></td> 
                    <td></td>
                    <td></td> 
                </tr>

                {% if activity_data['workout_type'][row] == "Workout" %}
                    <tr class="table-warning">
                {% elif activity_data['workout_type'][row] == "Long Run" %}        
                    <tr class="table-primary">
                {% elif activity_data['workout_type'][row] == "Race" %}        
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}
                    
                        <td>{{ activity_data['date'][row] }}</td>
                        <td>{{ activity_data['time'][row] }}</td>
                        <td>{{ activity_data['name'][row] }}</td>
                        <td>{{ '{:.2f}'.format(activity_data['distance'][row]) + ' mi'}}</td>
                        <td>{{ activity_data['moving_time'][row] }}</td>
                        <td>{{ activity_data['workout_type'][row] }}</td>
                        <td>{{ activity_data['average_speed'][row] }}</td>     
                        <!-- use pre tag below to allow for white space and put laps on new lines -->
                        <td><pre>{{ activity_data['laps'][row]}}</pre></td>   
                        <td>{{ activity_data['average_heartrate'][row] }}</td>
                        <td>{{ activity_data['average_cadence'][row] }}</td>
                        <td>{{ activity_data['perceived_exertion'][row] }}</td>
                        <td>{{ activity_data['description'][row] }}</td>
                    </tr> 

            {% else %}
                {% set week_flag = activity_data['grp_idx'][row] %}
                
                {% if activity_data['grp_idx'][row] != activity_data['grp_idx'][row -1] %}
                    <tr class="table-info" style="outline: thin solid"> 
                        <td>{{ "Weekly total for week commencing: " + weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'wc'].iloc[0]}}</td>
                        <td></td>
                        <td></td> 
                        <td>{{ '{:.2f}'.format(weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'distance'].iloc[0]) + ' mi'}}</td> 
                        <td>{{ weekly_totals.loc[weekly_totals['grp_idx'] == week_flag, 'time'].iloc[0] }}</td> 
                        <td></td> 
                        <td></td> 
                        <td></td> 
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td> 
                    </tr>
                {% else %}
                
                {% endif %}

                {% if activity_data['workout_type'][row] == "Workout" %}
                    <tr class="table-warning">
                {% elif activity_data['workout_type'][row] == "Long Run" %}        
                    <tr class="table-primary">
                {% elif activity_data['workout_type'][row] == "Race" %}        
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}
                    
                        <td>{{ activity_data['date'][row] }}</td>
                        <td>{{ activity_data['time'][row] }}</td>
                        <td>{{ activity_data['name'][row] }}</td>
                        <td>{{ '{:.2f}'.format(activity_data['distance'][row]) + ' mi'}}</td>
                        <td>{{ activity_data['moving_time'][row] }}</td>
                        <td>{{ activity_data['workout_type'][row] }}</td>
                        <td>{{ activity_data['average_speed'][row] }}</td>     
                        <!-- use pre tag below to allow for white space and put laps on new lines -->
                        <td><pre>{{ activity_data['laps'][row]}}</pre></td>   
                        <td>{{ activity_data['average_heartrate'][row] }}</td>
                        <td>{{ activity_data['average_cadence'][row] }}</td>
                        <td>{{ activity_data['perceived_exertion'][row] }}</td>
                        <td>{{ activity_data['description'][row] }}</td>
                    </tr> 
            {% endif %}
                
        {% endfor %}

    </table>
</div>

{% endblock %}
